@using PalabrasApp.Shared

@if (palabra != null)
{
    <h4>@palabra.EnglishWord</h4>

    <a @onclick="toggleShowAnswer">&#128065;</a>


    <EditForm Model="@submittedWord" OnSubmit="@CheckWord">
        <InputText id="submit_word" @bind-Value="submittedWord.AnswerText" />
        <button type="submit">Check</button>
    </EditForm>

    <br />

    <br />

    <div class="row">
        <div class="col-12">
            @if (isCorrectAnswer)
            {
                <h3 class="correct_color">&#10003;</h3>
            }
            else
            {
                <h3 class="wrong_color">X</h3>
            }
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-12" id="displayAnswer">
            @if (displayAnswer)
            {
                <h3>@palabra.SpanishWord</h3>
            }
        </div>
    </div>

}
else
{
    <span>You don't have any words in your list yet.</span>
}


@code {

    [Parameter]
    public Palabra palabra { get; set; }
    private string spanishWord;
    private string englishWord;
    private Answer submittedWord = new Answer();
    private bool displayAnswer = false;
    private bool isCorrectAnswer;

    protected void CheckWord()
    {
        Console.WriteLine("Method executed!");
        var correctWord = palabra.SpanishWord.ToLower();
        var givenWord = submittedWord.AnswerText.ToLower();

        if (correctWord == givenWord)
        {
            isCorrectAnswer = true;
        }
        else
        {
            isCorrectAnswer = false;
        }

    }

    protected void toggleShowAnswer()
    {
        displayAnswer = !displayAnswer;
    }
}
