@using PalabrasApp.Shared
@inject Services.WordsList Words


@foreach (var singlePalabra in Words.palabras)
{
    <ul class="list-group">
        <li class="list-group-item">@singlePalabra.SpanishWord : @singlePalabra.EnglishWord</li>
    </ul>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        Words.OnChange += StateHasChanged;
    }
}
