@using PalabrasApp.Shared
@inject Services.WordsList Words
@inject HttpClient Http
@inject NavigationManager Nav


@{ int i = 0;}
@foreach (var palabra in Words.palabras)
{
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-8">
                    @{ var indx = i;}
                    @palabra.SpanishWord : @palabra.EnglishWord
                </div>
                <div class="col-sm-2">
                    <a @onclick="@(d => DeletePalabra(palabra.id, indx))" style="color: red;">X</a>
                </div>
            </div>
        </li>
        @{i++;}
    </ul>
}



@code {

    protected override async Task OnInitializedAsync()
    {
        Words.OnChange += StateHasChanged;
    }

    protected async Task DeletePalabra(string id, int listIndex)
    {
        try
        {
            await Http.DeleteAsync("/api/DeletePalabra/" + id);
            Words.ListDataHasChanged();
            Words.palabras.RemoveAt(listIndex);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
