@using PalabrasApp.Shared


@foreach (var singlePalabra in palabras)
{
    <ul class="list-group">
        <li class="list-group-item">@singlePalabra.SpanishWord : @singlePalabra.EnglishWord</li>
    </ul>
}

@code {
    [Parameter]
    public List<Palabra> palabras { get; set; }
}
